{% extends '_base.html' %}

{% block title %}your account{% endblock %}

{% block content %}

<div class="jumbotron"></div>

<div class="container">

  <h3>{{ user.name }}</h3>

  <br>

  <div>
    <ul>
      <li>Mongo _id: {{ user.id }}</li>
      <li>oauthID: {{ user.oauthID }}</li>
      <li>Name: {{ user.name }}</li>
      <li>Created: {{ user.created.getMonth()+1 }}/{{ user.created.getDate() }}/{{ user.created.getFullYear() }}</li>
      <li>Paid: {{ user.paid }}</li>
      <li>Admin: {{ user.admin }}</li>
    </ul>
  </div>

</div>

{% endblock %}