{% extends '_base.html' %}

{% block title %}level up with daily warmup exercies{% endblock %}


{% block content %}

<br>

{% if !user %}

  <div class="jumbotron">
    <div class="container">
      <h1>Write Code. Stay sharp.</h1>
      <p class="lead">Daily exercises for beating the code interview.</h1>
    </div>
  </div>

  <br>

  <div class="container">

    <div class="row" style="text-align: center;">
      <div class="col-md-3">
        <img class="img-circle" src="https://studentrnd.org/assets/img/codeday-square.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h3>Heading</h3>
      </div>
      <div class="col-md-3">
        <img class="img-circle" src="https://studentrnd.org/assets/img/codeday-square.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h3>Heading</h3>
      </div>
      <div class="col-md-3">
        <img class="img-circle" src="https://studentrnd.org/assets/img/codeday-square.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h3>Heading</h3>
      </div>
      <div class="col-md-3">
        <img class="img-circle" src="https://studentrnd.org/assets/img/codeday-square.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
        <h3>Heading</h3>
      </div>
    </div>

    <br><br>

    <div class="row">

      <h2>Sample Problem: <em>Array Rotation</em></h2>

      <hr>

      <p class="lead"><strong>Rotate a given array to the right by n steps.</strong> After each step, the last element in the array is moved to the front of the array, and the rest of the elements are shifted right. Examples:</p>
      <p>
        <ul>
          <li class="lead">Given <code>[1, 2, 3]</code> and <code>n = 1</code>, you should return <code>[3, 1, 2]</code>.</li>
          <li class="lead">Given <code>[1, 2, 3, 4, 5]</code> and <code>n = 3</code>, you should return <code>[3, 4, 5, 1, 2]</code>.</li>
        </ul>
      <p>

    </div>

  </div>

{% else %}

  <div class="jumbotron"></div>

  <div class="container">

    <div class="row">

      <h1>All Exercises</h1>

      <br><br>

      {% if exercises %}
        <table class="sortable-theme-bootstrap" data-sortable>
          <thead>
            <tr>
              <th data-sorted="true" data-sorted-direction="descending">#</th>
              <th>Name</th>
              <th>Difficulty</th>
            </tr>
          </thead>
          <tbody>
            {% for exercise in exercises %}
            <tr>
              <td>{{ loop.index }}</td>
              <td><a href="/problems/{{ exercise.id }}">{{ exercise.name }}</a></td>
              <td>{{ exercise.difficulty }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}
        <p>No exercises! Come back tomorrow.</p>
      {% endif %}

    </div>

  </div>

{% endif %}

{% endblock %}