{% extends '_base.html' %}

{% block title %}level up with daily warmup exercies{% endblock %}


{% block content %}

<br>

{% if !user %}

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <h1>Fitter. Happier. More Productive.</h1>

      <hr>

      <p class="lead">Algorithms and Interview Prep.</p>

      <br><br>


      <h2>Sample Problem</h2>

      <hr>

      <p class="lead">Swag PBR Odd Future selfies lo-fi, put a bird on it kale chips master cleanse gluten-free Neutra flexitarian gastropub Tumblr High Life roof party. Tattooed crucifix try-hard letterpress, YOLO swag bicycle rights irony locavore gluten-free. Hoodie freegan pug, letterpress Tumblr heirloom 3 wolf moon swag artisan 90's small batch fashion axe banh mi DIY. Tilde selfies photo booth, distillery cardigan keffiyeh leggings pickled Marfa. XOXO DIY Williamsburg American Apparel, forage Godard fashion axe Wes Anderson. Photo booth fanny pack 8-bit, Etsy before they sold out locavore try-hard selvage meggings narwhal.</p>

    </div>

  </div>

{% else %}

  {% if exercises %}
    <p>(Yo! This table is sortable. Click a field to sort.)</p>
    <table class="sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Difficulty</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
        <tr>
          <td>{{ loop.index }}</td>
          <td><a href="/problems/{{ exercise.id }}">{{ exercise.name }}</a></td>
          <td>{{ exercise.difficulty }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>No exercises!</p>
  {% endif %}

{% endif %}

{% endblock %}