{% extends 'layout.html' %}

{% block content %}

{% markdown %}

## {{exercise.name}}

{% endmarkdown %}

<div>{{exerciseBody}}</div>

<br>

<button class="btn btn-default submit-answer-btn" type="submit">Add your answer</button>

<form class="gist-input-form">
  <div class="form-group">
    <input type="text" class="form-control input-box" placeholder="Enter the gist id">
  </div>
  <div>Example - ca266f402a7a90a2e785</div>
  <button type="submit" class="btn btn-default submit-btn">Submit</button>
  <button type="submit" class="btn btn-default cancel-btn">Cancel</button>
</form>

<br>

<div class="answers"></div>

{% endblock %}