{% extends 'layout.html' %}

{% block content %}

{% markdown %}

# Yay! markdown!

## Fizz Buzz!

- Print the numbers 1..100
- For multiples of 3, print "Fizz" instead of the number
- For multiples of 5, print "Buzz" instead of the number
- For multiples of 3 and 5, print "FizzBuzz" instead of the number


{% endmarkdown %}

<button class="btn btn-default submit-answer-btn" type="submit">Add your answer</button>

<form class="gist-input-form">
  <div class="form-group">
    <input type="text" class="form-control input-box" placeholder="Enter the gist id">
  </div>
  <div>Example - ca266f402a7a90a2e785</div>
  <button type="submit" class="btn btn-default submit-btn">Submit</button>
  <button type="submit" class="btn btn-default cancel-btn">Cancel</button>
</form>

<br>

<div class="answers"></div>

{% endblock %}